#container_box{
	width:100%;

	margin-left:auto;
  	margin-right:auto;

	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	border-color:transparent;
	border-width:0px;
	border-style:none;
}

#external_box{
	width:1000px;

	margin-left:auto;
  	margin-right:auto;

	background-color:#FFFFFF;
	background-image:url(/templates/inner_page/images/headerbg2x238.jpg);
	background-repeat:repeat-x;
	background-position:center 0px;
	border-color:transparent;
	border-width:0px;
	border-style:none;
}

.internal_box{
	width:807px;

	margin-left:auto;
  	margin-right:auto;

}

#leftSide{
	width:224px;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

#rightSide{
	width:0px;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

#header{
	height:80px;

	width:100%;

	text-align:right;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

#subHeader{
	height:100px;
	text-align:inherit;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

	padding-left:0px;
	padding-right:0px;
}

#subFooter{
	height:0px;
	text-align:inherit;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

	padding-left:0px;
	padding-right:0px;
}

#footer{
	height:168px;

	width:100%;

	text-align:center;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

html.body, body{
	margin:0px;
	background-color:#FAFAFA;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#000000;
	letter-spacing:0em;
	line-height:1.3em;
	word-spacing:0.1em;
}

.height_space_21{
	height:8px;
}

.height_space_11{
	height:0px;
}

.height_space_12{
	height:0px;
}

.height_space_13{
	height:0px;
}

.height_space_14{
	height:0px;
}

.width_space_15{
	width:0px;
}

.width_space_16{
	width:0px;
}

.width_space_17{
	width:0px;
}

.width_space_18{
	width:0px;
}

.height_space_19{
	height:0px;
}

.height_space_20{
	height:0px;
}

img, a.image, a.image:hover{
	border-color:transparent;
	border-width:0px;
	border-style:none;
}

form{

	margin: 0px;
	padding: 0px;

}

a:link, a:visited{
	color:#000000;
	text-decoration:none;
}

a:hover{
	color:#000000;
	text-decoration:none;
}

h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
	letter-spacing:0.1em;
	color:#294B9D;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:25px;
	background-image:url(/templates/inner_page/images/h1_icon2.png);
	background-repeat:no-repeat;
	background-position:right 15px;

	margin:0px;
	padding:5px;

}

h1 a:link, h1 a:visited{
	color:#000000;
	text-decoration:none;
}

h1 a:hover{
	color:#000000;
	text-decoration:none;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	letter-spacing:0.1em;
	color:#000000;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:25px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:4px;

}

h2 a:link, h2 a:visited{
	color:#000000;
	text-decoration:none;
}

h2 a:hover{
	color:#000000;
	text-decoration:none;
}

h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	letter-spacing:0.1em;
	color:#000000;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:3px;

}

h3 a:link, h3 a:visited{
	color:#000000;
	text-decoration:none;
}

h3 a:hover{
	color:#000000;
	text-decoration:none;
}

h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	letter-spacing:0em;
	color:#000000;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:2px;

}

h4 a:link, h4 a:visited{
	color:#000000;
	text-decoration:none;
}

h4 a:hover{
	color:#000000;
	text-decoration:none;
}

h5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	letter-spacing:0em;
	color:#000000;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:1px;

}

h5 a:link, h5 a:visited{
	color:#000000;
	text-decoration:none;
}

h5 a:hover{
	color:#000000;
	text-decoration:none;
}

h6{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	letter-spacing:0em;
	color:#000000;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:0px;

}

h6 a:link, h6 a:visited{
	color:#000000;
	text-decoration:none;
}

h6 a:hover{
	color:#000000;
	text-decoration:none;
}

strong, b{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	letter-spacing:0em;
	color:#294B9D;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

strong a:link, strong a:visited, b a:link, b a:visited{
	color:#000000;
	text-decoration:none;
}

strong a:hover, b a:hover{
	color:#000000;
	text-decoration:none;
}

#external_header_box{
	background-color:transparent;
	background-image:url();
	background-repeat:repeat-x;
	background-position:center 0px;

	width:100%;

}

#mainTable{
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}

#external_body_box{
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

}

#external_footer_box{
	background-color:#D4D4D4;
	background-image:url(/templates/inner_page/images/footer2bg2x238.jpg);
	background-repeat:repeat-x;
	background-position:left 0px;

	width:100%;

}

.topMenu ul{

	z-index:1000;
	list-style: none;
	padding: 0px;
	margin:0px;

}

.topMenu ul a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	letter-spacing:0em;
	color:#FFFFFF;
	word-spacing:0em;
	text-indent:0px;
	background-color:transparent;
	text-decoration:none;
	background-image:url(/templates/inner_page/images/orangebutton90x36.png);
	background-repeat:no-repeat;
	background-position:center 0px;
	text-align:center;
	width:90px;
	height:36px;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin-left:5px;
	padding-top:8px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;

	display: block;

}

.topMenu ul a:hover{
	color:#FFFFFF;
	background-image:url(/templates/home_page/images/menubottunblue90x36.png);
	background-repeat:no-repeat;
	background-position:left 0px;
	background-color:transparent;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
}

.topMenu ul li ul li{

	margin-left: 0px;
	margin-bottom: 0px;

}

#topMenuActive a{
	color:#FFFFFF;
	background-image:url(/templates/home_page/images/menubottunblue90x36.png);
	background-repeat:no-repeat;
	background-position:left 0px;
	background-color:transparent;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;

	display: block;

}

.topMenu ul li ul li a{
	color:#000000;
	width:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
}

.topMenu ul li ul{
	margin-left:0px;

	list-style: none;
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	position: absolute;

}

.topMenu ul li ul a{
	background-color:transparent;
}

.topMenu ul li ul li a:hover{
	color:#000000;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	background-color:transparent;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
}

.topMenu ul li{

	position: relative;
	margin-left: 0px;
	margin-top: 0px;

}

.topMenu ul li:hover ul{

	display: block;

}

.topMenu ul li:hover ul li ul{

	display: none;

}

.topMenu ul li ul li:hover ul{

	display: block;
	position: absolute;
	left: 130px;
	top: 0px;
	border-left: 1px solid #FFF;

}

.glossymenu{

	margin: 5px 0;
	padding: 0;

}

.glossymenu a.menuitem{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0em;
	color:#000000;
	word-spacing:0em;
	text-indent:0px;
	background-color:transparent;
	text-decoration:none;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	text-align:inherit;
	height:16px;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;

	display: block;
	width: auto;
	position: relative; /*To help in the anchoring of the .statusicon icon image*/

}

.glossymenu a.activePage{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0em;
	color:#000000;
	word-spacing:0em;
	text-indent:0px;
	background-color:transparent;
	text-decoration:none;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	text-align:inherit;
	height:16px;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;

	display: block;
	width: auto;
	position: relative; /*To help in the anchoring of the .statusicon icon image*/

}

.glossymenu a.menuitem .statusicon{

	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	border: none;

	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}

.glossymenu a.menuitem:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0em;
	color:#000000;
	word-spacing:0em;
	text-indent:0px;
	background-color:transparent;
	text-decoration:none;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	text-align:inherit;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
}

.glossymenu div.submenu ul li a, .glossymenu div li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	padding-left:0px;
	padding-right:0px;

	display: block;
	text-decoration: none;

}

.glossymenu div.submenu ul li a:hover, .glossymenu div li a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

a.bottomMenu:link, a.bottomMenu:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#000000;
	letter-spacing:0em;
	line-height:1.2em;
	word-spacing:0em;
}

a.bottomMenu:hover{
	color:#000000;
	text-decoration:none;
}

