#container_box{
	width:100%;

	margin-left:auto;
  	margin-right:auto;

	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	border-color:transparent;
	border-width:0px;
	border-style:none;
}

#external_box{
	width:100%;

	margin-left:auto;
  	margin-right:auto;

	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	border-color:transparent;
	border-width:0px;
	border-style:none;
}

.internal_box{
	width:1000px;

	margin-left:auto;
  	margin-right:auto;

}

#leftSide{
	width:0px;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

#rightSide{
	width:0px;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

#header{
	height:0px;

	width:100%;

	text-align:right;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

#subHeader{
	height:0px;
	text-align:inherit;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

	padding-left:0px;
	padding-right:0px;
}

#subFooter{
	height:0px;
	text-align:inherit;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

	padding-left:0px;
	padding-right:0px;
}

#footer{
	height:0px;

	width:100%;

	text-align:center;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

html.body, body{
	margin:0px;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#C5C3C3;
	letter-spacing:0em;
	line-height:1.3em;
	word-spacing:0.1em;
}

.height_space_21{
	height:0px;
}

.height_space_11{
	height:0px;
}

.height_space_12{
	height:0px;
}

.height_space_13{
	height:0px;
}

.height_space_14{
	height:0px;
}

.width_space_15{
	width:0px;
}

.width_space_16{
	width:0px;
}

.width_space_17{
	width:0px;
}

.width_space_18{
	width:0px;
}

.height_space_19{
	height:0px;
}

.height_space_20{
	height:0px;
}

img, a.image, a.image:hover{
	border-color:transparent;
	border-width:0px;
	border-style:none;
}

form{

	margin: 0px;
	padding: 0px;

}

a:link, a:visited{
	color:#C5C3C3;
	text-decoration:none;
}

a:hover{
	color:#C5C3C3;
	text-decoration:none;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:normal;
	letter-spacing:0.2em;
	color:#D29450;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:5px;

}

h1 a:link, h1 a:visited{
	color:#D29450;
	text-decoration:none;
}

h1 a:hover{
	color:#E6D9C2;
	text-decoration:none;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	letter-spacing:0.1em;
	color:#F2E8BF;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:4px;

}

h2 a:link, h2 a:visited{
	color:#D29450;
	text-decoration:none;
}

h2 a:hover{
	color:#E6D9C2;
	text-decoration:none;
}

h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	letter-spacing:0.1em;
	color:#D7AF97;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:3px;

}

h3 a:link, h3 a:visited{
	color:#D29450;
	text-decoration:none;
}

h3 a:hover{
	color:#E6D9C2;
	text-decoration:none;
}

h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	letter-spacing:0em;
	color:#6B3B22;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:2px;

}

h4 a:link, h4 a:visited{
	color:#D29450;
	text-decoration:none;
}

h4 a:hover{
	color:#E6D9C2;
	text-decoration:none;
}

h5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	letter-spacing:0em;
	color:#D7AF97;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:1px;

}

h5 a:link, h5 a:visited{
	color:#D29450;
	text-decoration:none;
}

h5 a:hover{
	color:#E6D9C2;
	text-decoration:none;
}

h6{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	letter-spacing:0em;
	color:#C7C0A8;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	margin:0px;
	padding:0px;

}

h6 a:link, h6 a:visited{
	color:#D29450;
	text-decoration:none;
}

h6 a:hover{
	color:#C7C0A8;
	text-decoration:none;
}

strong, b{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	letter-spacing:0em;
	color:#E6D9C2;
	line-height:1.2em;
	word-spacing:0em;
	background-color:transparent;
	text-indent:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

strong a:link, strong a:visited, b a:link, b a:visited{
	color:#E6D9C2;
	text-decoration:none;
}

strong a:hover, b a:hover{
	color:#D29450;
	text-decoration:none;
}

#external_header_box{
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

}

#mainTable{
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}

#external_body_box{
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

}

#external_footer_box{
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;

	width:100%;

}

.topMenu ul{

	z-index:1000;
	list-style: none;
	padding: 0px;
	margin:0px;

}

.topMenu ul a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0em;
	color:#262522;
	word-spacing:0em;
	text-indent:0px;
	background-color:#B4A954;
	text-decoration:none;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	text-align:inherit;
	width:100px;
	height:16px;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:#D7AF97;
	border-right-color:#D7AF97;
	border-bottom-color:#E6D9C2;
	margin-left:-1px;
	padding-top:4px;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:4px;

	display: block;

}

.topMenu ul a:hover{
	color:#D7AF97;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	background-color:#4B402D;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:#D7AF97;
	border-right-color:#D7AF97;
	border-bottom-color:#D7AF97;
}

.topMenu ul li ul li{

	margin-left: 0px;
	margin-bottom: 0px;

}

#topMenuActive a{
	color:#000000;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	background-color:transparent;
	border-width:0px;
	border-style:none;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;

	display: block;

}

.topMenu ul li ul li a{
	color:#C7C0A8;
	width:0px;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:#C7C0A8;
	border-right-color:#C7C0A8;
	border-bottom-color:#C7C0A8;
}

.topMenu ul li ul{
	margin-left:0px;

	list-style: none;
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	position: absolute;

}

.topMenu ul li ul a{
	background-color:#4B4A3F;
}

.topMenu ul li ul li a:hover{
	color:#000000;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	background-color:#E3E3E3;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:#E0E0E0;
	border-right-color:#E0E0E0;
	border-bottom-color:#E0E0E0;
}

.topMenu ul li{

	position: relative;
	margin-left: 0px;
	margin-top: 0px;

}

.topMenu ul li:hover ul{

	display: block;

}

.topMenu ul li:hover ul li ul{

	display: none;

}

.topMenu ul li ul li:hover ul{

	display: block;
	position: absolute;
	left: 130px;
	top: 0px;
	border-left: 1px solid #FFF;

}

.glossymenu{

	margin: 5px 0;
	padding: 0;

}

.glossymenu a.menuitem{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0em;
	color:#C7C0A8;
	word-spacing:0em;
	text-indent:0px;
	background-color:#262522;
	text-decoration:none;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	text-align:inherit;
	height:16px;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin-bottom:3px;
	padding-top: 8px;
	padding-left:22px;
	padding-right:22px;
	padding-bottom: 6px;

	display: block;
	width: auto;
	position: relative; /*To help in the anchoring of the .statusicon icon image*/

}

.glossymenu a.activePage{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0em;
	color:#C7C0A8;
	word-spacing:0em;
	text-indent:0px;
	background-color:#262522;
	text-decoration:none;
	background-image:url();
	background-repeat:repeat;
	background-position:left 0px;
	text-align:inherit;
	height:16px;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin-bottom:3px;
	padding-top: 8px;
	padding-left:22px;
	padding-right:22px;
	padding-bottom: 6px;

	display: block;
	width: auto;
	position: relative; /*To help in the anchoring of the .statusicon icon image*/

}

.glossymenu a.menuitem .statusicon{

	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	border: none;

	padding-top:11px;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:0px;
}

.glossymenu a.menuitem:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0em;
	color:#262522;
	word-spacing:0em;
	text-indent:0px;
	background-color:#9D7632;
	text-decoration:none;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	text-align:inherit;
	border-width:1px;
	border-style:solid;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
}

.glossymenu div.submenu ul li a, .glossymenu div li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#C7C0A8;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
	border-width:1px;
	border-style:dashed;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:#A89637;
	padding-left:0px;
	padding-right:18px;

	display: block;
	text-decoration: none;

}

.glossymenu div.submenu ul li a:hover, .glossymenu div li a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#E6D9C2;
	background-color:transparent;
	background-image:url();
	background-repeat:repeat;
	background-position:0px;
}

a.bottomMenu:link, a.bottomMenu:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#C5C3C3;
	letter-spacing:0em;
	line-height:1.2em;
	word-spacing:0em;
}

a.bottomMenu:hover{
	color:#C5C3C3;
	text-decoration:none;
}

